<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GeoLocation</title>
  </head>
  <body>
    <button onclick="getLocation()">Try It</button>
    <p id="demo"></p>
    <form action="/" method="post">
      <input type="text" name="longitude" value="">
      <input type="text" name="latitude" value="">
      <input type="text" name="submit" value="GeoLocation">

    </form>>
    <script>
      var x = document.getElementById("latitude");
      var y = document.getElementById("longitude");

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      x.value = position.coords.latitude;
      y.value = position.coords.longitude;
    }
  </script>
  </body>
</html>
